body{
    padding: 0;
    margin: 0;
}

:root{
    --veo-blue: white;
    --veo-blue-dark: #68a6d5;
    --veo-red: #ca5733;
    --veo-yellow: #fbc61d;
    --veo-green: #3b914e;
    --purple-dark: #2f1c6a;
}

.carrusel-icon{
    display: inline;
    width: 40px;
    text-align: center;
    margin: 0 1px;
    background-color: transparent;
    border: none;
}

.carrusel-veo-icon{
    font-size: 30px;
}
.nav-link-vea{
    font-size: 17px!important;
    padding: 5px 14px!important;
    margin-left: 13px;
    border-radius: 20px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
}

.nav-menu>ul>li {
    text-align: left!important;
    margin-bottom: 15px;
}
.nav-link-vea:hover{
    color: white;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
}
.link-cont {
    color: black;
    margin-bottom: 10px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    text-align: left;
    border: none;

}
a.link-index:hover{
    background-color: var(--veo-yellow);!important;
}

a.link-abous:hover{
    background-color: var(--veo-red);
}

a.link-submission:hover{
    background-color: var(--veo-green);
}

.link-cont:hover {
    background-color: var(--veo-blue-dark);
}

.link-cont:focus {
    color: white!important;
    background-color: var(--veo-blue-dark) !important;
}



a.link-dropdown:hover {
    background-color: #afaeae;
}


@media  screen and (min-width: 700px){
    .about {
        margin-left: 0;
    }
    .contact {
        margin-left: 0;
    }
}
@media  screen and (min-width: 1200px){
    .about {
        margin-left: 200px;
    }
    .contact {
        width: 70%;
        margin-left: 280px;
    }
}

.send-email{
     width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.send-email label {
  padding-bottom: 8px;
}

.send-email input,
.send-email textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.send-email input {
  height: 44px;
}

.send-email textarea {
  padding: 10px 15px;
}
