{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- ======= Contact Section ======= -->
        <form action="" method="post">
        {% csrf_token %}
        <label for="id_name">Name:</label><input type="text" name="name" maxlength="50" required="" id="id_name">
        <label for="id_email">Email:</label><input type="email" name="email" maxlength="254" required="" id="id_email">
        <label for="id_message">Message:</label><textarea name="message" cols="40" rows="10" required="" id="id_message"></textarea>
        

<div class="d-flex justify-content-end">
  <button type="reset" value="Cancelar" class="btn btn-secondary">Cancelar</button><!---El tipo submit es el q recarga la pag y envia los datos-->
  &nbsp;
  <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button><!--El tipo submit es el q recarga la pag y envia los datos-->
</div>
</form>

{% endblock %}


