  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
    <!-- Main -->
    <main id="main" class="mt-5 py-5 pt-lg-0">

        <div id="demo" class="carousel slide m-auto overflow-hidden" data-bs-ride="carousel"
            style="max-height: 500px;width: 90%">

            <h3 class="text-center mb-4"> <b>(^‿^)     Buenas!!    \(^ヮ^)/ </b></h3>
            <!-- The slideshow/carousel -->

            <div class="carousel-inner">
              {% for i in fotos %}
                <div class="carousel-item {% if i.id == menor %} active {% endif %}">
                    <img src="{{i.foto.url}}" alt="{{i.nombre}}" class="d-block" style="width:100%">
                 </div>
                {% endfor %}
            </div>

          <!-- Left and right controls/icons -->

          <button class="carousel-control-prev " type="button" data-bs-target="#demo" data-bs-slide="prev">
          </button>
          <button class="carousel-control-next " type="button" data-bs-target="#demo" data-bs-slide="next">
          </button>
</div>

    </main>
    <!-- End #main -->
  {% endblock %}
{#<div class="text-center position-absolute" style="bottom: 12%; right: 35%">#}
{#                <button class="carrusel-icon " type="button" data-bs-target="#demo" data-bs-slide="prev">#}
{#                    <span class="carrusel-veo-icon"> &#60; </span>#}
{#                </button>#}
{#                <button class="carrusel-icon" type="button" data-bs-target="#demo" data-bs-slide="next" >#}
{#                    <span class="carrusel-veo-icon"> &#62;</span>#}
{#                </button>#}
{#            </div>#}