  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
    <!-- Main -->
    <main id="main" class="mt-5 py-5 pt-lg-0">

        <div id="demo" class="position-static carousel slide m-auto overflow-hidden" data-bs-ride="carousel"
            style="max-height: 500px;width: 90%">

            <h3 class="text-center mb-4"> <b>(^‿^)     Buenas!!    \(^ヮ^)/ </b></h3>

          {% comment %} <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div> {% endcomment %}

          <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              {% for i in fotos %}
                <div class="carousel-item {% if i.id == menor %} active {% endif %}">
                    <img src="{{i.foto.url}}" alt="{{i.nombre}}" class="d-block" style="width:100%">
                 </div>
                {% endfor %}

{#                <div class="carousel-item active">#}
{#                  <img src="../../../media/fotos/game-of-thrones_3200x2560_xtrafondos.com.jpg" alt="Chicago" class="d-block" style="width:100%">#}
{#                </div>#}
{#                <div class="carousel-item">#}
{#                  <img src="../../../media/fotos/a7fcaa43650adc892c401956a08dc32a.jpg" alt="New York" class="d-block" style="width:100%">#}
{#                </div>#}
            </div>

          <!-- Left and right controls/icons -->
            <div class="text-center position-absolute" style="bottom: 28%; right: 40%">
                <button class="carrusel-icon " type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carrusel-veo-icon"> &#60; </span>
                </button>
                <button class="carrusel-icon" type="button" data-bs-target="#demo" data-bs-slide="next" >
                    <span class="carrusel-veo-icon"> &#62;</span>
                </button>
            </div>

        </div>



    </main>
    <!-- End #main -->
  {% endblock %}
